{% extends 'flatpages/default.html' %}

{% load custom_filters %} <!-- не забываем заранее загружать наши фильтры! -->

{% block title %}
Articles
{% endblock title %}

{% block content %}
    <h1>All news</h1>
    <h3>{{ time_now }}</h3>
    <h3> {{ value1|default_if_none:"Nothing" }} </h3>
    <hr>
    {% if articles %}
        <table>
            <tr>
                <td>
                    Title
                </td>
                <td>
                    Description
                </td>
                <td>
                    Date
                </td>
            </tr>
        {% for article in articles %}
            <tr>
                <td>
                    {{ article.title|censor }} <!-- попробуем умножить название товара на строку а -->
                </td>
                <td>
                    {{ article.description|truncatewords:4|censor }}
                </td>
                <td>
                    {{ article.datetime }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>No more Articles!</h2>
    {% endif %}
{% endblock content %}